.header {
    display: flex;
    align-items: center;
    background-color: #F2F1DF;
    padding: 35px;
    box-shadow: 0px 2px 5px rgb(83, 82, 82); /* Bottom shadow */
    position: relative; /* Ensure proper positioning */
  }
  

  
  
  .search-container {
    display: flex;
    margin-left: 350px;
  }

  .search-container button {
    margin-bottom: 50px;
    background: none;
    border: none;
    cursor: pointer;
  }

  .search-container img {
    position: absolute;      /* Absolute positioning */
    margin-left: 10px;       /* Space from the left */
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background-color: #F2F1DF;
  }
  
  .search-container input {
    width: 500px;
    padding: 15px;
    padding-left: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F2F1DF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */

    font-size: 18px;
  }
  
  
  .notification-container {
    background-color: #F2F1DF;
    padding-left: 48%;
  }
  
  .notification-container img {
    background-color: #F2F1DF;
    width: 45px;
    height: 45px;
  }
  .notification-container img a{
    text-decoration: none;
  }
  
  .profile-container {
  
    background-color: #F2F1DF;
    padding-left: 20px;

  }
  
  .profile-container img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F2F1DF;

  }
  
  
  