  .conn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .inventory-container {
    height: 80%;
    padding: 25px;
    border-radius: 8px;
    width: 80%;
    border: 3px solid #d9d8d7a9;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
    margin-left: 15%;
  }

  .inventory-heading {
    margin-bottom: 20px;
    font-size: 26px;
    color: #383E49;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
  }
  
 
  .inventory-table {
    width: 100%;
    height: 80%;
    border-collapse: collapse;
    margin-bottom: 20px   ;
  }
  
   /* {Space on top of each data} */
  .title,
  .inventory-table td {
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #ddd; /* Separate rows */
  }
  
  .title {
    font-weight: bold;
    color: #383E49;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
  }
  
.data{
    color: #424D47;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:600;
    font-size: 1rem;
}

  .inventory-button {
    background-color: #98a286;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  
  .inventory-button:hover {
    background-color: #7a8462;
  }
  
  .inventory-page-info {
    font-size: 14px;
    color: #333;
  }
  
  .button{
    display: flex;
    appearance: auto;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    padding-block: 1px;
    padding-inline: 6px;


  }
  .edit{
    width: 71px;
    height: 29px;
    background-image: linear-gradient(180deg, #1c466d, #3482cc);
    color: #ffffff;
    border: 0;
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(111, 106, 106, 0.575);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3 ease;
  }
  
  .editprod {
    width: 100%;
    height: 29px;
    background-image: linear-gradient(180deg, #3482cc, #1c466d);
    color: #ffffff;
    border: 0;
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(111, 106, 106, 0.575);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3 ease;
    text-decoration: none;
    font-size: 15px;
    font-weight: 100;
    }

  .delete{
    width: 100%;
    height: 29px;
    background-image: linear-gradient(180deg,#ac3f2c, #6d281c);
    color: #ffffff;
    border: 0;
    border-radius: 7px;
    box-shadow: 0px 4px 4px rgba(111, 106, 106, 0.575);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 0.3 ease;
    text-decoration: none;
    font-size: 15px;
    font-weight: 100;
  }
  .delete:hover {
    background-image: linear-gradient(180deg, #ac3f2c, #ac3f2c);
    }
button.delete {
  width: 70%;
  margin: 15%;
}
  

.borrow-button{
  width: 100%;
  height: 29px;
  background-image: linear-gradient(180deg,#46b369, #378f53);
  color: #ffffff;
  border: 0;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(111, 106, 106, 0.575);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3 ease;
  text-decoration: none;
  font-size: 15px;
  font-weight: 100;
}
.borrow-button:hover {
  background-image: linear-gradient(180deg,#378f53, #378f53);
}

button.accept-button{
  width: 80px;
  height: 29px;
  background-image: linear-gradient(180deg,#46b369, #378f53);
  color: #ffffff;
  border: 0;
  border-radius: 7px;
  box-shadow: 0px 4px 4px rgba(111, 106, 106, 0.575);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3 ease;
  text-decoration: none;
  font-size: 15px;
  font-weight: 100;
}
.accept-button:hover {
  background-image: linear-gradient(180deg,#378f53, #378f53);
}

a.editprod {
  transition: transform 0.3s ease;
}

a.editprod:hover{
    background-image: linear-gradient(180deg, #345779, #5995ce);
}

button.delete-button{
  margin: 10px;
  height: 29px;
  width: 80px;
  border: none;
  box-shadow: 0px 4px 4px rgba(111, 106, 106, 0.575);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3 ease;
  text-decoration: none;
  border-radius: 7px;

  background-image: linear-gradient(180deg, #ad1421, #ce6d8d);
}

button.delete-button:hover{
  background-image: linear-gradient(180deg, #bd3a45, #d38da4);

}

button.return-button-good{
  height: 29px;
  width: 80px;
  border: none;
  margin: 10px;
  box-shadow: 0px 4px 4px rgba(111, 106, 106, 0.575);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3 ease;
  text-decoration: none;
  border-radius: 7px;
  background-image: linear-gradient(180deg,#46b369, #378f53);

}

button.return-button-good:hover{
  background-image: linear-gradient(180deg,#378f53, #378f53);

}


button.return-button-damaged{
  height: 29px;
  width: 80px;
  border: none;
  box-shadow: 0px 4px 4px rgba(111, 106, 106, 0.575);
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.3 ease;
  text-decoration: none;
  border-radius: 7px;
  background-image: linear-gradient(180deg, #ad1421, #ce6d8d);

}

button.return-button-damaged:hover{
  background-image: linear-gradient(180deg, #bd3a45, #d38da4);

}