*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    box-shadow: 0 15px 20px #3d3d37;
}
h2{
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    color: rgb(192, 185, 185);
    padding-bottom: 8px;
    border-bottom: 1px solid rgb(173, 173, 76);
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}
.input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}
.input-box:nth-child(2n){
    justify-content: end;
}
.input-box label{
    width: 95%;
    color: rgb(192, 185, 185);
    font-weight: bold;
    margin: 5px 0;
}
.hl{
    color:rgb(160, 160, 52);
    font-weight: bold;
}
.input-box input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid rgb(160, 160, 52) ;
    outline: none;
}
.input-box input:is(:focus, :valid){
    box-shadow: 0 3px 6px gray;
}
.button-container{
    margin: 15px 0;
}
.button-container button{
    background-color: rgb(173, 173, 76);
    color: #1a1717;
    border: none;
    padding: 10px 15px;
    font-size: 13px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}
.button-container button:hover{
    background-image: linear-gradient(to right,rgb(148, 148, 54),rgb(201, 201, 43));

}