/* Basic styles for the landing page */
.landing-page {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../../assets/bgLaunch.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden; /* Ensures no overflow due to the ::after pseudo-element */
}

.landing-page::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Covers the bottom half */
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent black overlay */
    z-index: 1; /* Ensures the overlay appears beneath the content */
}

.landing-header {
    position: relative;
    z-index: 2; /* Ensures the header content appears above the overlay */
    padding: 40px;
    background-color: transparent;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
    background-color: transparent;
}

p {
    background-color: transparent;
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: white;
}

.cta-button {
    font-size: 1.2rem;
    padding: 10px 20px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #0056b3;
}

